## Importing the necessary libraries:

In [1]:
import cx_Oracle
import oracledbconnect as dbconnect

## Connecting user:

In [2]:
connect=cx_Oracle.connect(dbconnect.user,dbconnect.password,dbconnect.dns)

## Creating cursor:

In [3]:
cur=connect.cursor()

## To call PLSQL Procedure:

In [7]:
agecount=cur.var(int)
cur.callproc('yass',[34,agecount])
print('age count',agecount.getvalue())

age count 6

## To call PLSQL Function:

In [8]:
agefunc=cur.callfunc('yass2',int,[34])
print('age count',agefunc)

age count 6

## Using Anonymous PLSQL, first:

In [11]:
statement='''
begin
insert into yassir (id,empno,first_name,last_name,age,gender)
values(14,114,'Amit','Marwaha',28,'M');
update yassir
set age=34 where id=1;
commit;
end;
'''

## Then we execute the variable:

In [12]:
cur.execute(statement)

## Now lets see the new inserted rows:

In [13]:
cur.execute('''select * from yassir''')
rows=cur.fetchall()
print(rows)

[(12, 112, 'Sandeep', 'mann', 28, 'M'), (1, 101, 'Yassir', 'Daoud', 34, 'M'), (2, 102, 'Uday', 'Daoud', 39, 'M'), (3, 103, 'Usama', 'Daoud', 42, 'M'), (4, 104, 'Daoud', 'Mukhtar', 56, 'M'), (5, 105, 'Waddah', 'Almudhaffar', 34, 'M'), (6, 106, 'Nawar', 'Albadran', 34, 'M'), (7, 107, 'Haider', 'Ali', 37, 'M'), (8, 108, 'Wafa', 'Qahtan', 31, 'F'), (9, 109, 'Hussein', 'Naser', 39, 'M'), (10, 110, 'Nahid', 'Ali', 35, 'F'), (11, 111, 'akram', 'kamil', 22, 'M'), (13, 113, 'Akram', 'Kamil', 22, 'M'), (14, 114, 'Amit', 'Marwaha', 28, 'M')]

## To handle the data integrity error:

In [16]:
try:
    cur.execute("insert into yassir(id,empno,first_name,last_name,age,gender) values(13, 113,'Sandeep', 'mann', 28, 'M')")
except cx_Oracle.IntegrityError:
    print('Already exist')
else:
    print('New row added')

Already exist

## Let's try it again with new records,let's try it with existing row:

In [17]:
try:
    cur.execute("insert into yassir(id,empno,first_name,last_name,age,gender) values(15, 115,'Deepak', 'Singh', 36, 'M')")
except cx_Oracle.IntegrityError:
    print('Already exist')
else:
    print('New row added')

New row added

## To commit the changes:

In [18]:
connect.commit()

## To close the cursor:

In [19]:
cur.close()