## Importing the library and user info text:

In [1]:
import cx_Oracle
import oracledbconnect as dbconnect

## Connecting SQL with Jupyter Notebook:

In [2]:
connect=cx_Oracle.connect(dbconnect.user,dbconnect.password,dbconnect.dns)

## Making cursor for doing further operations:

In [3]:
cur=connect.cursor()

## Now, let's create table include cv and image columns:

In [4]:
cur.execute('''create table yassir2(
id number unique not null,
empno number unique not null,
first_name varchar2(20),
last_name varchar2(20),
age number,
gender varchar2(1),
cv clob,
emp_image blob)''')

## Now let's open the cv file:

In [5]:
emp_cv=open(r'E:\from pen drive\yassir_cv.txt')

## For reading the cv file:

In [6]:
emp_read_cv=emp_cv.read()
print(emp_read_cv)

   Yassir Daoud Mukhtar


Email:

ydmd88@yahoo.com

Full address:

 H. No.7-door Al-Dhubbad –Basrah-ALBASRAH-Iraq.

PERSONAL  DATA :


Gender      : Male.


NATIONALITY : Iraqi.

FATHER’S NAME: Daoud

job          :database analyst

## Now let's insert row including cv file:

In [8]:
cur.execute('''insert into yassir2(id,empno,first_name,last_name,age,gender,cv)
values(:id,:empno,:first_name,:last_name,:age,:gender,:cv)''',
            id=1,empno=100,first_name='Yassir',last_name='Daoud',age=34,gender='M',cv=emp_read_cv)

## Now let's display the row:

In [9]:
cur.execute('''select * from yassir2''')
row=cur.fetchone()
print(row)

(1, 100, 'Yassir', 'Daoud', 34, 'M', <cx_Oracle.LOB object at 0x000001F479DE7C60>, None)

## To display cv in sqldeveloper first we commit the changes then we go there and right click on the cv column in the employee row then choose single record view :

In [10]:
connect.commit()

## Now let's open and read image:

In [12]:
emp_image=open('E:\\from pen drive\\personal_image1.jpg','rb')
emp_image_lob=emp_image.read()

## Now let's insert another row including cv and image:

In [14]:
cur.setinputsizes(emp_image=cx_Oracle.BLOB)
cur.execute('''insert into yassir2(id,empno,first_name,last_name,age,gender,cv,emp_image)
            values(:id,:empno,:first_name,:last_name,:age,:gender,:cv,:emp_image)''',
            id=2,empno=101,first_name='Yassir',last_name='Daoud',age=34,gender='M',cv=emp_read_cv,emp_image=emp_image_lob)

## Now let's commit the inserted row then go to sqldeveloper to display cv and image:

In [15]:
connect.commit()