## Importing the oracle library with txt file which contains the username,password and dns of the user:

In [1]:
import cx_Oracle
import oracledbconnect as dbconnect

## Now we connect jupyter to the user:

In [2]:
connect=cx_Oracle.connect(dbconnect.user,dbconnect.password,dbconnect.dns)

## Now we create the cursor:

In [3]:
cur=connect.cursor()

## Now start creating the table:

In [6]:
cur.execute('''create table yassir(
id number not null unique,
empno number unique ,
first_name varchar2(50) not null,
last_name varchar2 (50),
age number,
gender varchar2 (1))''')

## If we want to check the new table, we can open sqldeveloper and check it,now let's insert rows:

In [7]:
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(1,101,'Yassir','Daoud',34,'M')''')

## To commit the added row:

In [8]:
connect.commit()

## If we want to update the row such as age:

In [10]:
cur.execute('''update yassir set age=25 where id=1''')

## Any update or insert we should commit the changes:

In [11]:
connect.commit()

## Now let's add more rows to the table:

In [12]:
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(2,102,'Uday','Daoud',39,'M')''')
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(3,103,'Usama','Daoud',42,'M')''')
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(4,104,'Daoud','Mukhtar',56,'M')''')
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(5,105,'Waddah','Almudhaffar',34,'M')''')
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(6,106,'Nawar','Albadran',34,'M')''')
cur.execute('''insert into yassir(id,empno,first_name,last_name,age,gender) values(7,107,'Haider','Ali',37,'M')''')

## Now we should commit the changes:

In [13]:
connect.commit()

## If we want to display one row only:

In [15]:
cur.execute('''select * from yassir''')
row=cur.fetchone()
print(row)

(1, 101, 'Yassir', 'Daoud', 25, 'M')

## If we want to display all the rows with the use of fetchone command:

In [16]:
cur.execute('''select * from yassir''')
while True:
    row=cur.fetchone()
    if row is None:
        break
    print(row)

(1, 101, 'Yassir', 'Daoud', 25, 'M')
(2, 102, 'Uday', 'Daoud', 39, 'M')
(3, 103, 'Usama', 'Daoud', 42, 'M')
(4, 104, 'Daoud', 'Mukhtar', 56, 'M')
(5, 105, 'Waddah', 'Almudhaffar', 34, 'M')
(6, 106, 'Nawar', 'Albadran', 34, 'M')
(7, 107, 'Haider', 'Ali', 37, 'M')

## Also we can use fetchnamy command to get rows:

In [17]:
cur.execute('''select * from yassir''')
row=cur.fetchmany(3)
print(row)

[(1, 101, 'Yassir', 'Daoud', 25, 'M'), (2, 102, 'Uday', 'Daoud', 39, 'M'), (3, 103, 'Usama', 'Daoud', 42, 'M')]

## If we want to fetch all rows:

In [18]:
cur.execute('''select * from yassir''')
row=cur.fetchall()
print(row)

[(1, 101, 'Yassir', 'Daoud', 25, 'M'), (2, 102, 'Uday', 'Daoud', 39, 'M'), (3, 103, 'Usama', 'Daoud', 42, 'M'), (4, 104, 'Daoud', 'Mukhtar', 56, 'M'), (5, 105, 'Waddah', 'Almudhaffar', 34, 'M'), (6, 106, 'Nawar', 'Albadran', 34, 'M'), (7, 107, 'Haider', 'Ali', 37, 'M')]

## If we want to fetch one reading only, here we should specify the row and column,for example we just need the first name from the first row:

In [20]:
cur.execute('''select * from yassir''')
row=cur.fetchall()
print(row[0][2])

Yassir

## If we want to specify a variable:

In [23]:
cur.prepare("""select * from yassir where first_name=:firstname""")

In [24]:
cur.execute(None,firstname="Yassir")
row=cur.fetchall()
print(row)

[(1, 101, 'Yassir', 'Daoud', 25, 'M')]

## If we want to insert Multi rows in a single command, first we make a variable list contains rows:

In [25]:
multiinsert=[(8,108,'Wafa','Qahtan',31,'F'),(9,109,'Hussein','Naser',39,'M'),(10,110,'Nahid','Ali',35,'F')]

## Now we execute the insert:

In [26]:
cur.executemany('''insert into yassir(id,empno,first_name,last_name,age,gender) values (:1,:2,:3,:4,:5,:6)''',multiinsert)

## Now we commit the changes:

In [28]:
connect.commit()

## If we want to get the error due to the column or table contraints like unique or not null error (first we add consraint to first_name column to be fn_unique via sqldeveloper) then we create variable contains several rows:

In [38]:
insert_rows=[(13,113,'Akram','Kamil',22,'M'),(12,112,'Nahid','muqdad',29,'F')]

In [39]:
cur.executemany('''insert into yassir(id,empno,first_name,last_name,age,gender) values (:1,:2,:3,:4,:5,:6)''',
                insert_rows,batcherrors=True)

## To get the batch errors:

In [40]:
for error in cur.getbatcherrors():
    print('Error in nserting ',error.message.strip())

Error in nserting  ORA-00001: unique constraint (PLEARNER.FN_UNIQUE) violated

## But we dont know which row is having the error, for that:

In [41]:
for error in cur.getbatcherrors():
    print('Error in nserting ',error.message.strip(),'at row',error.offset)

Error in nserting  ORA-00001: unique constraint (PLEARNER.FN_UNIQUE) violated at row 1

## To commit the changes,here only one row will be added:

In [42]:
connect.commit()